body {
    background-color: azure;
    font-family: Arial, sans-serif;
    margin: 0;

}

h1 {
    text-align: center;
    color: rgb(24, 140, 207);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 80px;
}

/* Navigation CSS */
.navbar {
    background-color: #6170b4;
    padding: 15px;
    border-radius: 25px 25px 0px 0px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    flex: 1;
    text-align: center;
}

.nav-list a:hover {
    background-color: #455aa0;
}

button {
    padding: 10px 20px;
    background-color: #6170b4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
/* Add form CSS */
#add-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#add-form {
    margin-left: 20px;
    color: #3e4b67;
}

#add-form label {
    display: block;
    margin: 10px;
    color: #3e4b67;
}

#add-form button {
    margin-top: 20px;
    background-color: #6170b4;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

/* Table CSS*/
#data-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #4b5a74;
    overflow-wrap: break-word; /* break words to prevent overflow */
}

#data-table th {
    background-color: #6170b4;
    color: white;
    padding: 10px;
    text-align: left;
}

#data-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

#table-body {
    display: block;
    max-height: 500px;
    overflow-y: auto; /* Vertical scrolling when content exceeds max-height */
}

#data-table button {
    background-color: #6170b4;
}

#data-table thead,
#data-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#data-table tbody tr:hover {
    background-color: #eeeeee;
}