body {
    background-color: azure;
    font-family: Arial, sans-serif;
    margin: 0;

}

h1 {
    text-align: center;
    color: rgb(24, 140, 207);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 80px;
}

/* Navigation CSS */
.navbar {
    background-color: #6170b4;
    padding: 15px;
    border-radius: 25px 25px 0px 0px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    flex: 1;
    text-align: center;
}

.nav-list a:hover {
    background-color: #455aa0;
}


/* Flashcard CSS */
#flashcard-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.flashcard {
    width: 150px;
    height: 200px;
    perspective: 1000px;
}

.flashcard-front,
.flashcard-back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid white;
    background-color: #6170b4;
    border-radius: 8px;
    backface-visibility: hidden;
    transition: transform 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    word-break: break-word; /* Words break onto a new line */
    white-space: normal; /* Allows text to wrap to the next line */
    padding: 10px;
}

.flashcard-back {
    background-color: #e2725b;
    transform: rotateY(180deg);
}

/* Flipping the card */
.flashcard.flipped .flashcard-front {
    transform: rotateY(180deg);
}

.flashcard.flipped .flashcard-back {
    transform: rotateY(0deg);
}

#terms-container,
#definitions-container {
    display: inline-block;
    width: 45%;
    margin: 10px;
}